.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: greenyellow;
    min-height: 100px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.mainbox1 {
    flex: 2;
}

.mainbox2 {
    flex: 1;
}

.cards {
    background-color: yellow;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(228, 27, 27);
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-color: rgb(228, 27, 168);;
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-color: rgb(119, 52, 52);;
    min-height: 250px;
    width: 30%;
}